@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");
.instruments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  height: 100%;
  background-color: rgb(173, 218, 218);
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;

}

.instrument-card {
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  color: #555;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -10px; 
  margin-right: -10px; 
}


.instrument-card {
  width: calc(100% - 40px);
  max-width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}

.instrument-card .card-img-top {
  height: 300px;
  object-fit: cover;
}

.instrument-card .card-body {
  padding: 20px;
}

@media (min-width: 768px) {
  .row {
    justify-content: space-between;
  }
}
