/* .innstrumets1 {
  height: 100vh;
  position: relative;
}

.innstrumets {
  left: 6rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: #574480;
}
img {
  border-radius: 60%;
  background-color: #9388a2;
  opacity: 0.5;
}
p {
  border: #9388a2 solid 0.5px;
} */
/* .instrument-card {
  width: 18rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.instrument-card .card-img-top {
  object-fit: cover;
  height: 200px;

} */

/* Instruments.css */

.instruments-container {
  padding: 2rem;
}

.section-title {
  text-align: center;
}

.instrument-card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  text-align: center;
}

.instrument-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.instrument-card .card-body {
  padding: 1.5rem;
}

.instrument-card h5 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.instrument-card p {
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .instrument-card {
    display: flex;
    align-items: stretch;
  }

  .instrument-card .card-body {
    flex-grow: 1;
    text-align: left;
  }

  .instrument-card img {
    height: auto;
  }
}
