@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");


.Details {
  text-align: center;
  margin-top: 20px;
}

.Details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.Details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Details li {
  margin-bottom: 10px;
}

.Details audio {
  display: block;
  margin-top: 10px;
}

.Details .favorite-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.Details .favorite-button i {
  margin-left: 5px;
  color: #d1d1d1;
}

.Details .favorite-button.active {
  color: red;
}

/* details.css */

.container {
  padding: 20px;
}

h2 {
  margin-top: 30px;
}

.card {
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.favorite-button {
  margin-top: 10px;
}

.favorite-button.clicked {
  color: red;
}

/* Additional CSS styles can be added here */
