.header {
  background-color: #beafc2;
  opacity: 0.7;
  padding: 0.5rem;
}

.sidebar {
  display: flex;
  justify-content: center;
}

.nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-top: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #574480;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}


@media (min-width: 700px) {
  .sidebar {
    justify-content: flex-start;
  }
  
  .nav {
    flex-direction: row;
  }
  
  .nav-item {
    margin-top: 0;
    margin-left: 1rem;
  }
}



/**/


/* .header {
  background-color: #beafc2;
  opacity: 0.7;
  padding: 0.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #beafc2;
  opacity: 0.7;
  padding: 0.5rem;
}

.navbar-brand {
  color: #574480;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-nav .nav-link {
  color: #574480;
  text-decoration: none;
  margin-right: 0.5rem;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}

@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-toggler {
    display: block;
    margin-top: 0.5rem;
    margin-right: 0;
  }
  
  .navbar-collapse {
    display: none;
  }
  
  .navbar-nav .nav-link {
    margin-bottom: 0.5rem;
  }
} */
